<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Studentai</title>
</head>
<body>
    <h1>Studentai</h1>

    <table>
        <thead>
            <td>id</td>
            <td>name</td>
            <td>surname</td>
            <td>phone</td>
            <td>email</td>
        </thead>
        <tbody>
            <tr th:each="row : ${list}">
                <td th:text="${row.id}"></td>
                <td th:text="${row.name}"></td>
                <td th:text="${row.surname}"></td>
                <td th:text="${row.phone}"></td>
                <td th:text="${row.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>